body {
    font-family: Verdana, Geneva, Arial, sans-serif;
}
@font-face {
    font-family: "Emblema One";
    src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
    url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
blockquote {
    font-family: fantasy;
}
p{
    color: aquamarine;
}
h1 {
    font-family: "Emblema One", sans-serif;
}