@font-face {
	font-family: "Emblema One";
	src: url("https://fonts.googleapis.com/css2?family=Festive&display=swap"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
  background-color: #ffffff;
}
h1 {
  font-family:     "Emblema One", cursive;
  font-size: 220%;
 }
 h2 {
     font-size: 130%;
     font-weight: normal;
 }
 blockquote {
     font-style: italic;
 }
 h1, h2 {
     color: #c60;
     border-bottom: thin dotted #888;
 }
 em {
     text-decoration: overline;
 }